.colum-izq{
    background-color: cornflowerblue;
}

.colum-der{
    background-color: #f5f5f5;
}

.title-nuevo-cliente{
    color: cornflowerblue;
}

.input-formulario{
    background-color: #f5f5f5;
    border: none;
    border-radius: 7px;
    outline: none;
}

.input-submit-form{
    background-color: cornflowerblue;
    border: none;
    border-radius: 7px;
}